<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Reviews</h1>
      <p class="lead text-muted">These are all of the reviews that you have given to movies</p>
      <p>
        <a>{{#link-to "movies" class="btn btn-primary my-2"}} All Movies {{/link-to}}</a>
        <a>{{#link-to "wishlist" class="btn btn-primary my-2"}} Wish List {{/link-to}}</a>
      </p>
    </div>
  </section>


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/posters/anchorman.jpg" alt="Card image cap">
            <p>Review: Review for this movie </p>
            <p>Stars: 4/5 </p>
            <p>Reviewer: Sinead</p>
            <p>Reviewed: 3/9/2015 </p>
          </div>
        </div>
	  </div>
	</div>
  </div>
</main>