<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Wish List</h1>
      <p class="lead text-muted">These are all of the movies that you have added to your Wish List</p>
      <p>
        <a>{{#link-to "movies" class="btn btn-primary my-2"}} All Movies {{/link-to}}</a>
        <a>{{#link-to "reviews" class="btn btn-primary my-2"}} Your Reviews {{/link-to}}</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/posters/frozen.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">- Wish List</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Review</button>
                </div>
                <small class="text-muted">195 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/posters/jumanji.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">- Wish List</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Review</button>
                </div>
                <small class="text-muted">130 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/posters/madmax.jpg" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">- Wish List</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Review</button>
                </div>
                <small class="text-muted">109 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>